@font-face {
  font-family: 'SugarpunchDEMO';
  src: url('SugarpunchDEMO.ttf') format('truetype');
}

html{
	background-image: url("websitebg.png");
}

.header-image{
	width: 20%;
	height: auto;
}

.header-links-container{
	font-family: 'SugarpunchDEMO';
	font-size: 200%;
	width: 100%;
	margin: 0 auto;
}

.header-links{
	color: black;
	text-decoration: none;
	padding-left: 20px;
}

.header-links:hover{
	color: #ff00ff;
}

.body-video-container{
	width: 65%;
	height: 60%;
	padding-bottom: 10%;
	position: relative;
	top: 10%;
	left: 18%;
}


@media screen and (max-width: 1000px) { 
    .body-video-container {
        width: 90%;
		height: 40%;
		position: relative;
		left: 5%;
    }
}

@media screen and (min-width: 1200px) { 
    .body-video-container {
        width: 90%;
		height: 90%;
		position: relative;
		left: 5%;
    }
}

.video{
	width: 100%;
	height: 100%;
}
